.cart-section{
    padding: 5% 10%;
    background-color: #EEEEEE;
    min-height: 100vh;
    
}

.cart-list-container{    
    box-shadow: 1px 7px 15px rgba(0, 0, 0, .1);
    height: 600px ; 
    overflow-y: scroll;    
    background-color: #FFF;    
    display: flex;    
    flex-direction: column;    
    
}



.cart-list-empty{
    display: flex;
    min-height: 100vh;   
    justify-content: center;
    flex-direction: column;
    align-items: center;    
}

.cart-list-empty h3{
    font-size: 2.4rem;
    margin-bottom: 2rem;
}
.cart-list-empty button{
    background-color: orange;
    padding: 1rem 2rem;
    border-radius: 12px;
    font-size: 2rem;
    color: #FFF;
    border: none;
    cursor: pointer;
  
}

.cart-list-empty button:hover{
    transform: scale(1.1);
}

.cart-icon-empty{
    font-size: 10rem;
}

.cart-product-list{
  
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
    
    border-radius: 12px;
    
    

}

.cart-product-list figure{
    padding: 2rem 0;
    
    
    width: 140px;
    height: 140px;
    overflow: hidden;
    
}

.cart-product-list img{
    width: 100%;
    height: 100%;
    object-fit: contain;
   
}



.product-info h4{
    font-size: 1.6rem;


}
.product-info h5{
    font-size: 1.2rem;


}

.btn-container{
    display: flex;
    align-items: center;
}

.btn-container .remove-btn{
    font-size: 3rem;
    cursor: pointer;
    color: rgb(204, 56, 56);
}