.cart-wrapper{
    position: fixed;
    top: 60px;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgba(0, 0, 0, .4);
    
    
}

.cart-section{
    position: fixed;
    top: 60px;
    right: 0;
    width: 50%;
    height: 90vh;
    background-color: #FFF;
    overflow-y: scroll;
   
    
}

.container-total-price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #333;
}

.cart-section span{
    font-size: 1.4rem;
    display: block;
    text-align: center;     
    width: 100%;   
    font-weight: 600;
    
    
    
}

.cart-list-container{    
    box-shadow: 1px 7px 15px rgba(0, 0, 0, .1);     
    background-color: #FFF;    
    display: flex;    
    flex-direction: column;  
    height: 100%;  
    padding-top: 3rem;
   
    
}

.back-icon{
    font-size: 4rem;
    cursor: pointer;
    
}



.cart-list-empty{
    display: flex;
    flex-direction: column;
    padding-top: 10rem;   
    align-items: center;    
}

.cart-list-empty h3{
    font-size: 2.4rem;
    margin-bottom: 2rem;
}
.cart-list-empty button{
    background-color: orange;
    padding: 1rem 2rem;
    border-radius: 12px;
    font-size: 2rem;
    color: #FFF;
    border: none;
    cursor: pointer;
  
}

.cart-list-empty button:hover{
    transform: scale(1.1);
}

.cart-icon-empty{
    font-size: 10rem;
}


.cart-product-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;  
    
}

.cart-product-container{
    padding: 0 2rem;
    
}

.cart-product-list figure{
    width: 80px;
    height: 120px;
}
.cart-product-list figure img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-info h4{
    font-size: 1.8rem;
}

.product-info h5{
    font-size: 1.2rem;
}

.btn-container{
    display: flex;
    align-items: center;
}

.btn-container .remove-btn{
    color: red;
    font-size: 3rem;
} 

.stock{
    color: red;
    animation: disapear 5s ease-in-out forwards;
    
}

@keyframes disapear{

    0%{
        visibility: visible;
        opacity: 1;
    }

    90%{
        visibility: visible;
        opacity: 1;

    }

    100%{
        visibility: hidden;
        opacity: 0;
    }

}

@media (max-width:800px){
    .cart-section{
        width: 80%;
    }

    .product-info h4{
        font-size: 1.6rem;
        
    }
    .cart-product-list figure{
        width: 60px;
        height: 100px;
    }
}


@media (max-width:600px){
    .cart-section{
        width: 100%;
    }

    .product-info h4{
        font-size: 1.2rem;
        
    }

    
}





