.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media (max-width:600px){

    .container-product{
        flex-direction: column;
        gap: 0;


    }

    .container-product .img{
        height: 300px;
        object-fit: contain;
    }

}

