.success{
    display: flex;
    background-color: #FFF;    
    align-items: center;    
    min-height: 85vh;
    padding: 0 6%;
    text-align: center;
    
}

.success-content{
    min-height: 50vh;
    width: 70%;
    margin: 0 auto;
    border-radius: 12px;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    background-color: rgb(218, 216, 216);
}

.success-content h1{
    color: #1d354d;
}

.success-icon{    
    font-size: 5rem;
    color: #1d354d;
}

@media (max-width:600px){
    .success-content{
        width: 100%;
        
    }
}