.item-container{
    height: 100vh;
    background-color: rgb(241, 237, 237);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.item-container h1{
    color: #333;
    text-align: center;

}