.item-container{
    background-color: #f7f7f7;
    
    
}

.item-container .background{
    height: 60vh;
    width: 100%;
    object-fit: cover;
}


.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    background-color: #e7e3e3;    
    padding: 3rem 10%;
    gap: 1rem;
}

