.items-container{
    background-color: #f5f3f3;
    height: 100vh;
    
    
}

.item-container .background{
    height: 60vh;
    width: 100%;
    object-fit: cover;
}


.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    background-color: #f5f1f1;    
    padding: 3rem 10%;
    gap: 3rem 0;
    margin: 0 auto;
    
}