.carrusel-container{
    min-height: 70vh;
}

.carrusel-images{     
    width: 70vw;    
    overflow: hidden;
    margin: 0 auto;    
}

.slider{
    display: flex;
    gap: 2rem;
    animation: desplazar 40s infinite linear;
   
}

.slider:hover{
    animation-play-state: paused;
}

@keyframes desplazar {
    0%{
        transform: translateX(0);
    }
    
    50%{
        transform: translateX(calc(-100%));
    }
    100%{
        transform: translateX(0);
    }
    
}