*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif; 
    transition: .3s ease-in-out;
}

:root{
    --color-orange: #faba42;
    --color-light-black:#27282D;
    --color-black:#1F2023;
    --color-dark-black:#000000;

}

html{
    overflow-x: hidden ;
    font-size: 62.5%;
    scroll-behavior:auto;
}

section{
    overflow-x: hidden;
}



